<!doctype html>
<title>Pic Labeler</title>

<div>
    <div>
        <p>Label Images, then train a model</p>
    </div>
    <div>
        <a href="/request_label"><button>Label Images</button></a>
    </div>
    <div>
        <p></p>
    </div>
    <div>
        <form action="/" method="POST">
            <div>
                <input type="text" id="password" name="password" placeholder="password">
            </div>
            <div>
                <input type="text" id="job_name" name="job_name" placeholder="job_name">
            </div>
            <div>
                <button type="submit">Start Training</button>
            </div>

        </form>
    </div>
</div>